.base {
  gap: 10px;
  width: 100px;

  opacity: 0;
  animation: appear 0.5s ease forwards;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;

  height: 70px;
}

.header > * {
  max-height: 100%;
  margin: 0;
}

.base input {
  font-size: 16px;
  text-align: center;

  background-color: transparent;
  width: 40px;
  padding: 9px;

  border: 2px solid rgba(55, 55, 70, 0.4);
  border-radius: 10px;
}

.base input::-webkit-outer-spin-button,
.base input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.questions {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.categories button,
.questions button {
  text-transform: capitalize;
  line-height: 20px;

  transition: background-color 0.2s ease;
}

.questions button {
  font-size: 16px;
  width: 70px;
}

.categories button.selected,
.questions button.selected {
  background-color: rgb(172, 203, 212);
}

.play {
  align-self: center;
  margin-top: 30px;
}

.play.forbidden button:hover {
  cursor: not-allowed;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
