.base {
  opacity: 0;
  animation: appear 0.5s ease forwards;
}

.categories {
  display: flex;
  align-items: center;

  gap: 15px;
  margin-top: 30px;
}

.categories select {
  background-color: transparent;
  padding: 7px;

  border: 2px solid rgba(55, 55, 70, 0.4);
  border-radius: 10px;
}

.categories option {
  padding: 8px;
}

.categories input {
  background-color: transparent;
  width: 40px;
  padding: 8px;

  border: 2px solid rgba(55, 55, 70, 0.4);
  border-radius: 10px;
}

.selectedCategories {
  display: flex;
  flex-wrap: wrap;

  gap: 15px 20px;
  align-items: center;
}

.play {
  align-self: center;
}

.play.forbidden button:hover {
  cursor: not-allowed;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
