.base {
  gap: 10px;

  opacity: 0;
  animation: appear 0.5s ease forwards;
}

.base input {
  background-color: transparent;
  width: 40px;
  padding: 8px;

  border: 2px solid rgba(55, 55, 70, 0.4);
  border-radius: 10px;
}

.questions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.categories {
  display: flex;
  flex-wrap: wrap;

  gap: 15px 20px;
  align-items: center;
}

.categories button.selected {
  background-color: rgb(172, 203, 212);
}

.play {
  align-self: center;
  margin-top: 25px;
}

.play.forbidden button:hover {
  cursor: not-allowed;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
