.base {
  height: 100%;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: appear 0.8s 0.4s forwards;
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
