body {
  height: 100vh;

  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Lato', sans-serif;
  /* font-size: 1em; */
  line-height: 1.9em;

  color: rgb(25, 25, 30);

  background-color: #9d9dac;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 3.5rem
    ),
    repeating-linear-gradient(#d365c18f, #5e63cc9c);
}

main {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  outline: none;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}
